body{
    /* padding:50px 100px; */
    font-family: "Londrina Solid", Arial, Helvetica, sans-serif;
    background-color: rgb(82, 72, 72);
    
}

a{
    color:rgb(24, 24, 24);
    font-weight: bold;
    text-decoration: none;
}

#dino{
    width: 300px;
    position: absolute;
    top: 20% ;
    left: 50%;
    right: 50%;
}
#title{
    position: absolute;
    top: 10;
    left: 50%;
}